<div class="myBlock mt30 row" style="padding-top: 220px;height: 1000px;background-color: aliceblue;">

  <div class= "col-md-2"></div>

  <div class= "col-md-8">
    <div id="englishExamQuestions" class="container">

      <div class="col-md-12 center"><h2><strong>{{singleChoice.name}}</strong></h2></div>
      <div class="col-md-12">
          <div class="head">{{}}</div>
          <div class="body">
              <div class="total">一共{{questions.length}}题，现在是第{{current + 1}}题</div>
              <div class="question">{{current + 1}}.{{singleChoice.issue}}</div>
              <div class="row option" ng-class="{true: 'active', false: ''}[isActiveA]"
                   ng-click="Select(questions.current.options[0], 'A')">
                  <div class="col-md-1"><img src="../static/img/rank/Arank.png" class="img-circle"></div>
                  <div class="col-md-10 opContent">{{singleChoice.optionA}}</div>
              </div>
              <div class="row option" ng-class="{true: 'active', false: ''}[isActiveB]"
                   ng-click="Select(questions.current.options[1], 'B')">
                  <div class="col-md-1"><img src="../static/img/rank/Brank.png" class="img-circle"></div>
                  <div class="col-md-10 opContent">{{singleChoice.optionB}}</div>
              </div>
              <div class="row option" ng-class="{true: 'active', false: ''}[isActiveC]"
                   ng-click="Select(questions.current.options[2], 'C')">
                  <div class="col-md-1"><img src="../static/img/rank/Crank.png" class="img-circle"></div>
                  <div class="col-md-10 opContent">{{singleChoice.optionC}}</div>
              </div>
              <div class="row option" ng-class="{true: 'active', false: ''}[isActiveD]"
                   ng-click="Select(questions.current.options[3], 'D')">
                  <div class="col-md-1"><img src="../static/img/rank/Drank.png" class="img-circle"></div>
                  <div class="col-md-10 opContent">{{singleChoice.optionD}}</div>
              </div>
              <div class="btn-next">
                  <button class="btn btn-green-solid" ng-click="nextQuestion()"
                          ng-hide="questions.length-1==current">
                      下一题
                  </button>
                  <button class="btn btn-green-solid" ng-click="submitSpeedTest()"
                          ng-show="questions.length-1==current">
                      提交
                  </button>
              </div>
          </div>
          <!-- <div class="col-md-12 center" ng-show="questions.length==question_index">
              <div class="btn btn-green-solid" ng-click="finishTesting()"><span class="fs_16">结束</span></div>
          </div> -->
      </div>

    </div>

  </div>

  <div class= "col-md-2"></div>


</div>
